<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de aluno</title>
</head>
<body>
    <h1>Cadastrar aluno</h1>
    <table border="1">
        <form action="/add" method="POST">
            <tr>
                <td>Digite seu R.A:</td>
                <td><input type="text" name="ra" id="ra" size="50"/></td>
            </tr>
            <tr>
                <td>Digite seu Nome:</td>
                <td><input type="text" name="nome" id="nome" size="80" /></td>
            </tr>
            <tr>
                <td>Digite seu email:</td>
                <td><input type="text" name="email" id="email" size="80" /></td>
            </tr>
            <tr>
                <td>Digite seu logradouro:</td>
                <td><input type="text" name="logradouro" id="logradouro" size="80" /></td>
            </tr>
            <tr>
                <td>Digite o número:</td>
                <td><input type="text" name="numero" id="numero" size="10" /></td>
            </tr>
            <tr>
                <td>Digite o seu CEP:</td>
                <td><input type="text" name="cep" id="cep" size="20" /></td>
            </tr>
            <tr>
                <td>Digite o seu complemento:</td>
                <td><input type="text" name="complemento" id="complemento" size="10" /></td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Enviar" />
                </th>
            </tr>
            


            
            
        </form>

    </table>

</body>
</html>