<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Aluno</title>
</head>
<body>
    <h1>Editar Aluno {{aluno.ra}}</h1>
    <table border="1">
        <form action="/edit/{{aluno.idAluno}}" method="POST">
            <tr>
                <td>Digite seu nome:</td>
                <td><input type="text" name="nome" value="{{aluno.nome}}" /></td>
            </tr>
            <tr>
                <td>Digite seu email:</td>
                <td><input type="text" name="email" value="{{aluno.email}}" /></td>
            </tr>
            <tr>
                <td>Digite seu logradouro:</td>
                <td><input type="text" name="logradouro" value="{{aluno.logradouro}}" /></td>
            </tr>
            <tr>
                <td>Digite seu numero:</td>
                <td><input type="text" name="numero" value="{{aluno.numero}}" /></td>
            </tr>
            <tr>
                <td>Digite seu CEP:</td>
                <td><input type="text" name="cep" value="{{aluno.cep}}" /></td>
            </tr>
            <tr>
                <td>Digite seu complemento:</td>
                <td><input type="text" name="complemento" value="{{aluno.complemento}}" /></td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Enviar" />
                </th>
            </tr>
        </form>
    </table>

</body>
</html>